body{background: lightgrey; color: white}
.header{background: white; padding: 5px; margin-bottom: 20px; color: black}
.upperlavel div{padding: 10px}
.middlelevel{background: mediumseagreen; padding: 10px}
.lowerlevel div{padding: 10px}
